.home_page-card_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
}

.home_page-card_wrapper-card {
  border-radius: 8px;
}

.home_page-card_wrapper-card-input {
  -webkit-appearance: none;
}
