.home_page-card_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 72px);
  margin-top: 80px;
}

.home_page-card_wrapper-card {
  border-radius: 8px;
}

.flex {
  display: flex;
  justify-content: flex-end;
}